* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

/* Mobile menu */

nav.mobile-menu {
    height: 100vh;
}

nav.mobile-menu div.logo {
    height: auto;
}

nav.mobile-menu div.menu li {
    font-size: 3.2rem;
}

/* Section - gallery */

section#galeria {
    padding-top: 120px;
}

div.category-list ul li {
    opacity: 1;
}

/* Galaxy S5 - iPhone 6/7/8 Support / (360px x 640px) - (375px x 667px) */

@media(min-width: 360px) and (max-width: 375px) {

    /* Mobile menu */

    nav.mobile-menu div.menu li {
        font-size: 4rem;
    }

    /* Section - gallery */

    section#galeria {
        padding-top: 150px;
    }
}

/* Pixel 2 - iPhone 6/7/8 Plus Support / (411px x 731px) - (414px x 736px) */

@media (min-width: 376px) and (max-width: 500px) {

    /* Mobile menu */

    nav.mobile-menu div.menu li {
        font-size: 4rem;
    }

    /* Section - gallery */

    section#galeria {
        padding-top: 170px;
    }
}

/* iPad Support / (768px x 1024px) */

@media (orientation: portrait) and (min-width: 500px) {

    /* Mobile menu */

    nav.mobile-menu div.menu li {
        font-size: 4.8rem;
    }

    /* Section - gallery */

    section#galeria {
        padding-top: 200px;
    }
}

/* iPhone 5/SE Support */

@media (orientation: landscape) and (min-width: 500px) {

    nav.mobile-menu {
        height: auto;
    }

    nav.mobile-menu div.menu li {
        font-size: 4rem;
    }

    section#galeria {
        padding-top: 60px;
    }
}

/* Galaxy S5 - iPhone 6/7/8 Support */
@media (orientation: landscape) and (min-width: 640px) {

    section h1 {
        font-size: 6rem;
    }
}

/* Pixel 2 - iPhone 6/7/8 Plus Support */

@media (orientation: landscape) and (min-width: 736px) {

    section h1 {
        font-size: 6.5rem;
    }
}

/* Desktop Media */

@media (min-width: 935px) {

    /* Menu */

    nav.desktop-menu section.desktop-menu-content div.menu a {
        height: 30px;
    }

    nav.desktop-menu section.desktop-menu-content div.menu li {
        margin: 30px 0;
    }

    nav.desktop-menu section.desktop-menu-content div.menu li:nth-child(1) a {
        width: 69.16px;
    }

    nav.desktop-menu section.desktop-menu-content div.menu li:nth-child(2) a {
        width: 78px;
    }

    nav.desktop-menu section.desktop-menu-content div.menu li:nth-child(3) a {
        width: 89px;
    }

    nav.desktop-menu section.desktop-menu-content div.menu li:nth-child(4) a {
        width: 98px;
    }

    @keyframes desktopShowMenuContent {
        0% {
            font-size: 0;
        }

        100% {
            font-size: 3rem;
        }
    }

    /* Content */

    div.category-list ul {
        height: 100vh;
        width: 80vw;
        position: absolute;
        top: auto;
        left: 50vw;
        transform: translateX(-50%);
    }

    div.category-list ul li {
        position: relative;
        width: 20vw;
        height: 20vh;
        float: left;
        list-style: none;
        line-height: 20vh;
    }

    div.category-list ul li:nth-child(1) {
        background-image: url("../assets/images/sections/categories/desktop/trousers.jpg");
    }

    div.category-list ul li:nth-child(2) {
        background-image: url("../assets/images/sections/categories/desktop/skirts.jpg");
    }

    div.category-list ul li:nth-child(3) {
        background-image: url("../assets/images/sections/categories/desktop/dresses.jpg");
    }

    div.category-list ul li:nth-child(4) {
        background-image: url("../assets/images/sections/categories/desktop/suits.jpg");
    }

    div.category-list ul li:nth-child(5) {
        background-image: url("../assets/images/sections/categories/desktop/navy.jpg");
    }

    div.category-list ul li:nth-child(6) {
        background-image: url("../assets/images/sections/categories/desktop/shirts.jpg");
    }

    div.category-list ul li:nth-child(7) {
        background-image: url("../assets/images/sections/categories/desktop/blouses.jpg");
    }

    div.category-list ul li:nth-child(8) {
        background-image: url("../assets/images/sections/categories/desktop/sweaters.jpg");
    }

    div.category-list ul li:nth-child(9) {
        background-image: url("../assets/images/sections/categories/desktop/jackets.jpg");
    }

    div.category-list ul li:nth-child(10) {
        background-image: url("../assets/images/sections/categories/desktop/coates.jpg");
    }

    div.category-list ul li a {
        width: 30vh;
        height: 20vh;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 1550px) {

    nav.desktop-menu section.desktop-menu-content div.menu a::before {
        top: 5px;
    }

    nav.desktop-menu section.desktop-menu-content div.menu a::after {
        bottom: -5px;
    }

    nav.desktop-menu section.desktop-menu-content div.menu li:nth-child(1) a {
        width: 92.22px;
    }

    nav.desktop-menu section.desktop-menu-content div.menu li:nth-child(2) a {
        width: 103px;
    }

    nav.desktop-menu section.desktop-menu-content div.menu li:nth-child(3) a {
        width: 118px;
    }

    nav.desktop-menu section.desktop-menu-content div.menu li:nth-child(4) a {
        width: 130px;
    }

    @keyframes desktopShowMenuContent {
        0% {
            font-size: 0;
        }

        100% {
            font-size: 4rem;
        }
    }
}