/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

/* iPhone 5/SE Support - (320px x 568px) */

body {
    background-color: #E1D5C3;
    width: 100vw;
    height: 100vh;
}

p {
    font-family: 'Lato', sans-serif, Arial, Helvetica;
}

h1 {
    font-family: 'Great Vibes', cursive, Arial, Helvetica, sans-serif;
    font-size: 4rem;
}

/* Navigation Section */

nav.desktop {
    display: none;
}

nav.mobile {
    position: fixed;
    width: 100vw;
    height: 60px;
    top: 20px;
    left: 0;
    z-index: 5;
    background-color: rgba(1, 0, 0, 0.75);
}

div.nav-logo {
    width: 108px;
    height: 84px;
    position: absolute;
    left: 16px;
    top: -12px;
    background: url("/assets/logo/nav-mobile-360x280.png");
    background-size: cover;
    border-radius: 50%;
}

/* To delete 1st only */
div.contact-logo img {
    position: absolute;
    top: 0;
    left: 0;
}

nav.mobile div.nav-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    height: 40px;
    width: 40px;
    background-color: #E1D5C3;
}

nav.mobile div.nav-menu img {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Navigation - Menu Section */

nav.mobile-menu {
    display: none;
    height: 100vh;
}

nav.mobile-menu div.logo img {
    position: relative;
    top: 10px;
    left: 50vw;
    transform: translateX(-50%);
    animation: showMenuContent 2s ease forwards;
}

nav.mobile-menu {
    height: 100vh;
    width: 100vw;
    background-color: rgb(56, 53, 49);
    overflow: hidden;
}

nav.mobile-menu div.return img {
    position: relative;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
    animation: showMenuContent 2s ease forwards;
}

nav.mobile-menu div.menu ul {
    margin: 50px 0;
    text-align: center;
}

nav.mobile-menu div.menu li {
    line-height: 50px;
    margin: 40px 0;
    font-size: 2rem;
    background-color: rgb(170, 135, 108);
    color: rgb(225, 213, 195);
    font-family: 'Great Vibes', cursive;
    opacity: 0;
}

nav.mobile-menu div.menu li:nth-of-type(1) {
    animation: showMenuContent 1.2s ease .3s forwards;
}

nav.mobile-menu div.menu li:nth-of-type(2) {
    animation: showMenuContent 1.2s ease .6s forwards;
}

nav.mobile-menu div.menu li:nth-of-type(3) {
    animation: showMenuContent 1.2s ease .9s forwards;
}

nav.mobile-menu div.menu li:nth-of-type(4) {
    animation: showMenuContent 1.2s ease 1.2s forwards;
}

nav.mobile-menu div.menu li a {
    position: absolute;
    display: block;
    height: 60px;
    width: 100vw;
}

/* Header Section */

header>div {
    height: 100vh;
    width: 100vw;
}

header div.img1 {
    opacity: 1;
}

header div.img2,
header div.img3 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

header div.img1 h1,
header div.img2 h1,
header div.img3 h1 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    width: 200px;
    color: #E1D5C3;
    font-weight: normal;
}

header div.img3 h1 {
    color: rgb(138, 139, 140);
}


/* All sections */

section {
    height: 100vh;
    width: 100vw;
}

/* Section - About */

section.about h1,
p {
    color: rgb(196, 191, 187);
}

section.about h1 {
    position: relative;
}

section.about p {
    position: relative;
    width: 180px;
    height: 350px;
    text-align: center;
}

/* Section - Offer */

section.offer h1 {
    position: relative;
    width: 150px;
    top: 100px;
    left: 30px;
    color: white;
    font-size: 3rem;
    text-shadow: 5px 5px 5px #000;
}

section.offer p {
    position: relative;
    width: 160px;
    top: 130px;
    left: 30px;
    color: white;
    font-size: 0.9rem;
}

section.offer button,
section.gallery button {
    position: relative;
    top: 150px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1.1rem;
    text-shadow: 3px 3px 10px #000;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

/* Section - Gallery & gallery-bg */

section.gallery-bg {
    opacity: 0.75;
}

section.gallery {
    position: relative;
    height: 0;
    top: -100vh;
}

section.gallery h1 {
    position: relative;
    width: 150px;
    top: 100px;
    left: 50vw;
    transform: translateX(-50%);
    color: rgb(243, 244, 246);
    text-shadow: 5px 5px 5px #000;
    font-size: 3.5rem;
}

section.gallery p {
    position: relative;
    width: 250px;
    top: 110px;
    left: 50vw;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 10px black;
    font-size: 1.1rem;
}

section.gallery button {
    left: 50vw;
    top: 130px;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 1.3rem;
}

/* Footer - Contact */

footer {
    background-color: rgb(64, 64, 64);
    box-sizing: content-box;
}

footer h1,
h2 {
    color: rgb(201, 157, 124);
    font-weight: 400;
}

footer h1 {
    padding-top: 100px;
    text-align: center;
    font-size: 3rem;
    font-family: 'Great Vibes', cursive, Arial, Helvetica, sans-serif;
    font-style: normal;
}

div.contact-logo img {
    position: relative;
    top: 10px;
    left: 50vw;
    transform: translateX(-50%);
}

footer h2 {
    font-size: 1.2rem;
    line-height: 50px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

footer h2:nth-of-type(4) {
    line-height: 25px;
    padding: 10px 0 20px 0;
}

footer h2:last-of-type {
    width: 130px;
}

footer div.contact-info {
    position: relative;
    top: 20px;
}

footer div.titles {
    position: relative;
    top: 20px;
    left: 30px;
    width: 80px;
    text-align: center;
}

footer div.details {
    position: relative;
    width: 200px;
    top: -260px;
    left: 110px;
    text-align: center;
    line-height: 49px;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: rgb(196, 191, 187);
    cursor: pointer;
    font-family: 'Lato', sans-serif, Arial, Helvetica;
}

footer div.details p:nth-of-type(1) {
    width: 150px;
    padding-left: 25px;
    line-height: 25px;
}

footer div.details p:nth-of-type(2) {
    width: 180px;
    padding-left: 10px;
    line-height: 25px;
}

footer div.details a:nth-of-type(3),
a:nth-of-type(4) {
    display: inline-block;
    margin: 15px 0 0 15px;
    width: 30px;
    height: 30px;
}

footer form {
    width: 100vw;
    margin-top: -230px;
    padding-bottom: 20px;
}

footer form input,
textarea,
label {
    display: block;
    position: relative;
    top: 0;
    left: 50vw;
    transform: translateX(-50%);
    margin: 20px 0;
    text-align: center;
}

footer form label {
    font-family: 'Great Vibes', cursive, Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    color: rgb(201, 157, 124);
}

footer form input,
textarea {
    background-color: rgb(225, 213, 195);
    font-family: 'Lato', sans-serif, Arial, Helvetica;
    font-style: italic;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

footer form input {
    padding: 10px 25px;
}

footer form textarea {
    padding: 10px;
}

footer form input:last-child {
    padding: 10px 40px;
    background-color: rgba(112, 112, 112, 0.3);
    color: rgb(201, 157, 124);
    font-size: 1.1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Menu - Animation */

nav.mobile.animation {
    animation: showMenu .5s ease forwards;
}

@keyframes showMenu {
    0% {
        height: 60px;
        background-color: rgba(56, 53, 49, 1);
    }

    50% {
        top: 0;
    }

    100% {
        height: 100vh;
        top: 0;
        background-color: rgba(56, 53, 49, 1);
    }
}

@keyframes showMenuContent {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* iPhone 5/SE Support - (320px x 568px) */

@media (max-width: 359px) {

    /* Navigation */

    nav.mobile li:nth-child(1) img {
        transform: scale(0.3);
        top: -100px;
        left: -120px;
    }

    /* Navigation - Menu Section */

    nav.mobile-menu div.logo img {
        width: 162px;
        height: 126px;
    }

    nav.mobile-menu div.menu li a {
        height: 50px;
    }

    /* Header */

    header div.img1 {
        background: url("../assets/images/sections/main/img1/image1-718x854-90.jpg") center bottom / contain no-repeat #000;
    }

    header div.img2 {
        background: url("../assets/images/sections/main/img2/image2-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img3 {
        background: url("../assets/images/sections/main/img3/image3-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img1 h1 {
        top: 150px;
        left: 90px;
        width: 215px;
    }

    header div.img2 h1,
    header div.img3 h1 {
        top: 150px;
        left: 65px;
        width: 250px;
        font-size: 2.3rem;
    }

    header div.img3 h1 {
        top: 130px;
    }

    /* Section - About */

    section.about {
        background: url("../assets/images/sections/about/about-320x568-90.jpg") center / cover no-repeat #000;
    }

    section.about h1 {
        width: 120px;
        top: 120px;
        left: 150px;
        font-size: 3.5rem;
    }

    section.about p {
        width: 170px;
        height: 300px;
        top: 160px;
        left: 130px;
        font-size: 0.9rem;
    }

    /* Section - Offer */

    section.offer {
        background: url("../assets/images/sections/offer/offer-320x568-90.jpg") center / cover no-repeat #000;
    }

    /* Section - Gallery & gallery-bg */

    section.gallery-bg {
        background: url("../assets/images/sections/gallery/gallery-320x568-90.jpg") center / cover no-repeat;
    }

    /* Footer - Contact */

    div.contact-logo img {
        width: 126px;
        height: 98px;
    }
}

/* Galaxy S5 - iPhone 6/7/8 Support / (360px x 640px) - (375px x 667px) */

@media (min-width: 360px) and (max-width: 375px) {

    /* Navigation */

    nav.mobile {
        height: 80px;
    }

    div.nav-logo {
        width: 126px;
        height: 98px;
        top: -9px;
        left: 27px;
    }

    nav.mobile div.nav-menu {
        top: 15px;
        height: 50px;
        width: 50px;
    }

    nav.mobile div.nav-menu img {
        height: 25px;
        width: 25px;
    }

    /* Navigation - Menu Section */

    nav.mobile-menu div.logo img {
        width: 162px;
        height: 126px;
    }

    nav.mobile-menu div.return img {
        width: 35px;
        height: 35px;
    }

    nav.mobile-menu div.menu ul {
        margin: 50px 0;
        text-align: center;
    }

    nav.mobile-menu div.menu li {
        line-height: 60px;
        margin: 45px 0;
        font-size: 2.5rem;
    }

    /* Header */

    header div.img1 {
        background: url("../assets/images/sections/main/img1/image1-718x854-90.jpg") center bottom / contain no-repeat #000;
    }

    header div.img2 {
        background: url("../assets/images/sections/main/img2/image2-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img3 {
        background: url("../assets/images/sections/main/img3/image3-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img1 h1 {
        top: 170px;
        left: 100px;
        font-size: 2.3rem;
        width: 250px;
    }

    header div.img2 h1,
    header div.img3 h1 {
        top: 170px;
        left: 70px;
        width: 280px;
        font-size: 2.6rem;
    }

    header div.img3 h1 {
        top: 150px;
    }

    /* Section - About */

    section.about {
        background: url("../assets/images/sections/about/about-375x667-90.jpg") center / cover no-repeat #000;
    }

    section.about h1 {
        width: 140px;
        top: 140px;
        left: 190px;
    }

    section.about p {
        width: 180px;
        height: 350px;
        top: 190px;
        left: 170px;
    }

    /* Section - Offer */

    section.offer {
        background: url("../assets/images/sections/offer/offer-320x568-90.jpg") center / cover no-repeat #000;
    }

    section.offer h1 {
        top: 120px;
        font-size: 3.5rem;
    }

    section.offer p {
        width: 180px;
        top: 150px;
        font-size: 1rem;
    }

    section.offer button {
        top: 170px;
        font-size: 1.2rem;
    }

    /* Section - Gallery & gallery-bg */

    section.gallery-bg {
        background: url("../assets/images/sections/gallery/gallery-375x667-90.jpg") center / cover no-repeat;
    }

    section.gallery h1 {
        top: 120px;
        font-size: 4rem;
    }

    section.gallery p {
        width: 300px;
        top: 130px;
        font-size: 1.3rem;
    }

    section.gallery button {
        top: 160px;
        padding: 15px 25px;
        font-size: 1.5rem;
    }

    /* Footer - Contact */

    footer h1 {
        padding-top: 120px;
    }

    div.contact-logo img {
        width: 162px;
        height: 126px;
    }

    footer div.titles {
        width: 130px;
        left: 10px;
    }

    footer h2 {
        font-size: 1.3rem;
    }

    footer h2:last-child {
        padding-top: 5px;
        width: 150px;
        text-align: right;
    }

    footer div.details {
        top: -264px;
        width: 200px;
        padding-left: 30px;
        font-size: 1.3rem;
    }

    footer div.details p:first-child {
        padding: 0;
        width: auto;
    }

    footer div.details p:last-of-type {
        width: auto;
    }

    footer div.details a:nth-of-type(3),
    a:nth-of-type(4) {
        margin: 15px 5px 0 15px;
        width: 40px;
        height: 40px;
    }

    footer form label {
        font-size: 2.2rem;
    }

    footer form input {
        font-size: 1.2rem;
    }

    footer form textarea {
        font-size: 1.2rem;
    }

    footer form input:last-child {
        font-size: 1.3rem;
        padding: 10px 50px;
    }
}

/* Pixel 2 - iPhone 6/7/8 Plus Support / (411px x 731px) - (414px x 736px) */

@media (min-width: 376px) and (max-width: 500px) {

    /* Navigation */

    nav.mobile {
        top: 15px;
        height: 90px;
    }

    div.nav-logo {
        width: 144px;
        height: 112px;
        top: -11px;
        left: 18px;
    }

    nav.mobile div.nav-menu {
        top: 20px;
        height: 50px;
        width: 50px;
    }

    nav.mobile div.nav-menu img {
        height: 25px;
        width: 25px;
    }

    /* Navigation - Menu Section */

    nav.mobile-menu div.logo img {
        width: 216px;
        height: 168px;
    }

    nav.mobile-menu div.return img {
        width: 40px;
        height: 40px;
    }

    nav.mobile-menu div.menu ul {
        text-align: center;
    }

    nav.mobile-menu div.menu li {
        line-height: 60px;
        margin: 50px 0;
        font-size: 2.5rem;
    }

    /* Header */

    header div.img1 {
        background: url("../assets/images/sections/main/img1/image1-718x854-90.jpg") center bottom / contain no-repeat #000;
    }

    header div.img2 {
        background: url("../assets/images/sections/main/img2/image2-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img3 {
        background: url("../assets/images/sections/main/img3/image3-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img1 h1 {
        top: 180px;
        left: 110px;
        font-size: 2.75rem;
        width: 295px;
    }

    header div.img2 h1,
    header div.img3 h1 {
        top: 200px;
        left: 80px;
        width: 330px;
        font-size: 3rem;
    }

    header div.img3 h1 {
        top: 160px;
    }

    /* Section - About */

    section.about {
        background: url("../assets/images/sections/about/about-414x736-90.jpg") center / cover no-repeat #000;
    }

    section.about h1 {
        width: 140px;
        top: 140px;
        left: 220px;
        font-size: 4.5rem;
    }

    section.about p {
        width: 220px;
        height: 350px;
        top: 200px;
        left: 180px;
        font-size: 1.2rem;
    }

    /* Section - Offer */

    section.offer {
        background: url("../assets/images/sections/offer/offer-414x736-90.jpg") center / cover no-repeat #000;
    }

    section.offer h1 {
        top: 140px;
        font-size: 4rem;
    }

    section.offer p {
        width: 200px;
        top: 170px;
        font-size: 1.1rem;
    }

    section.offer button {
        top: 200px;
        font-size: 1.4rem;
    }

    /* Section - Gallery & gallery-bg */

    section.gallery-bg {
        background: url("../assets/images/sections/gallery/gallery-414x736-90.jpg") center / cover no-repeat;
    }

    section.gallery h1 {
        top: 140px;
        font-size: 4.5rem;
    }

    section.gallery p {
        width: 320px;
        top: 150px;
        font-size: 1.4rem;
    }

    section.gallery button {
        top: 180px;
        padding: 15px 35px;
        font-size: 1.5rem;
    }

    /* Footer - Contact */

    footer h1 {
        padding-top: 130px;
    }

    div.contact-logo img {
        width: 180px;
        height: 140px;
    }

    footer div.titles {
        width: 130px;
        left: 20px;
    }

    footer h2 {
        font-size: 1.4rem;
        line-height: 53px;
    }

    footer h2:last-child {
        width: 150px;
        text-align: right;
    }

    footer div.details {
        top: -265px;
        width: 250px;
        padding-left: 30px;
        font-size: 1.4rem;
    }

    footer div.details p:first-child {
        width: 200px;
        padding-left: 25px;
    }

    footer div.details p:last-of-type {
        width: auto;
    }

    footer div.details a:nth-of-type(3),
    a:nth-of-type(4) {
        margin: 15px 10px 0 15px;
        width: 45px;
        height: 45px;
    }

    footer form label {
        font-size: 2.5rem;
    }

    footer form input {
        font-size: 1.4rem;
    }

    footer form textarea {
        font-size: 1.4rem;
    }

    footer form input:last-child {
        font-size: 1.5rem;
        padding: 10px 50px;
    }
}

/* iPad Support / (768px x 1024px) */

@media (orientation: portrait) and (min-width: 500px) {

    /* Navigation */

    /* To delete */
    nav.mobile li:nth-child(1) {
        left: 30px;
    }

    nav.mobile {
        top: 15px;
        height: 90px;
    }

    div.nav-logo {
        width: 144px;
        height: 112px;
        top: -11px;
        left: 38px;
    }

    nav.mobile div.nav-menu {
        top: 20px;
        right: 30px;
        height: 50px;
        width: 50px;
    }

    nav.mobile div.nav-menu img {
        height: 25px;
        width: 25px;
    }

    /* Navigation - Menu Section */

    nav.mobile-menu div.logo img {
        width: 306px;
        height: 238px;
    }

    nav.mobile-menu div.return img {
        top: 50px;
        left: 50px;
        width: 50px;
        height: 50px;
    }

    nav.mobile-menu div.menu ul {
        margin: 80px 0;
        text-align: center;
    }

    nav.mobile-menu div.menu li {
        line-height: 80px;
        margin: 60px 0;
        font-size: 3rem;
    }

    nav.mobile-menu div.menu li a {
        height: 80px;
    }

    /* Header */

    header div.img1 {
        /* animation: 6s changeBackground linear infinite; */
        background: url("../assets/images/sections/main/img1/image1-718x854-90.jpg") center bottom / contain no-repeat #000;
    }

    header div.img2 {
        /* animation: 6s changeBackground 2s linear infinite; */
        background: url("../assets/images/sections/main/img2/image2-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img3 {
        /* animation: 6s changeBackground 4s linear infinite; */
        background: url("../assets/images/sections/main/img3/image3-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img1 h1 {
        top: 150px;
        left: 300px;
        font-size: 4rem;
        width: 430px;
    }

    header div.img2 h1,
    header div.img3 h1 {
        top: 250px;
        left: 200px;
        width: 550px;
        font-size: 5rem;
    }

    header div.img3 h1 {
        top: 200px;
    }

    /* Section - About */

    section.about {
        background: url("../assets/images/sections/about/about-718x854-90.jpg") center / cover no-repeat #000;
    }

    section.about h1 {
        top: 200px;
        left: 50vw;
        width: 180px;
        font-size: 5rem;
    }

    section.about p {
        width: 40vw;
        top: 250px;
        left: 40vw;
        font-size: 1.7rem;
    }

    /* Section - Offer */

    section.offer {
        background: url("../assets/images/sections/offer/offer-718x854-90.jpg") center / cover no-repeat #000;
    }

    section.offer h1 {
        top: 170px;
        left: 50px;
        font-size: 5rem;
    }

    section.offer p {
        width: 300px;
        top: 200px;
        left: 50px;
        font-size: 1.6rem;
    }

    section.offer button {
        top: 250px;
        left: 50px;
        padding: 20px;
        border-radius: 20px;
        font-size: 2rem;
    }

    /* Section - Gallery & gallery-bg */

    section.gallery-bg {
        background: url("../assets/images/sections/gallery/gallery-718x854-90.jpg") center / cover no-repeat;
    }

    section.gallery h1 {
        top: 180px;
        font-size: 6rem;
        width: 230px;
    }

    section.gallery p {
        width: 500px;
        top: 200px;
        font-size: 2rem;
    }

    section.gallery button {
        top: 260px;
        padding: 20px 45px;
        font-size: 2rem;
    }

    /* Footer - Contact */

    footer h1 {
        font-size: 5rem;
        padding-top: 130px;
    }

    div.contact-logo img {
        width: 306px;
        height: 238px;
    }

    footer div.contact-info {
        top: 70px;
    }

    footer div.titles {
        width: 230px;
        left: 100px;
    }

    footer h2 {
        font-size: 2rem;
        line-height: 70px;
    }

    footer h2:nth-of-type(4) {
        line-height: 50px;
    }

    footer h2:last-child {
        width: auto;
        text-align: right;
    }

    footer div.details {
        top: -413px;
        left: 300px;
        width: 300px;
        padding-left: 30px;
        font-size: 2rem;
        line-height: 65px;
    }

    footer div.details p:first-child {
        width: auto;
        line-height: 50px;
    }

    footer div.details p:last-of-type {
        width: auto;
        line-height: 35px;
    }

    footer div.details a:nth-of-type(3),
    a:nth-of-type(4) {
        margin: 30px 15px 0 25px;
        width: 65px;
        height: 65px;
    }

    footer form {
        margin-top: -300px;
    }

    footer form label {
        font-size: 3.5rem;
    }

    footer form input {
        width: 470px;
        font-size: 2rem;
    }

    footer form textarea {
        width: 500px;
        font-size: 2rem;
    }

    footer form input:last-child {
        width: auto;
        font-size: 2rem;
        padding: 15px 70px;
    }
}

@keyframes changeBackground {

    0% {
        background: url("../assets/images/sections/main/img1/image1-718x854-90.jpg") center bottom / contain no-repeat #000;
    }

    33.2% {
        background: url("../assets/images/sections/main/img1/image1-718x854-90.jpg") center bottom / contain no-repeat #000;
    }

    33.3% {
        background: url("../assets/images/sections/main/img2/image2-718x854-90.jpg") center / cover no-repeat;
    }

    66.5% {
        background: url("../assets/images/sections/main/img2/image2-718x854-90.jpg") center / cover no-repeat;
    }

    66.6% {
        background: url("../assets/images/sections/main/img3/image3-718x854-90.jpg") center / cover no-repeat;
    }

    99.9% {
        background: url("../assets/images/sections/main/img3/image3-718x854-90.jpg") center / cover no-repeat;
    }
}

/* Landscape orientation */

@media (orientation: Landscape) and (max-width: 730px) {

    nav.mobile li:nth-child(1) img.res320x568 {
        display: block;
    }

    header div.img1 {
        background: url("../assets/images/sections/main/img1/land-image1-1280x854-90.jpg") top / cover no-repeat #000;
    }
}

@media (orientation: Landscape) and (max-width: 1023px) {

    nav.mobile {
        top: 25px;
    }

    nav.mobile li:nth-child(1) {
        top: -20px;
    }

    nav.mobile li:nth-child(1) img.res360x640 {
        display: block;
    }

    header div.img1 {
        background: url("../assets/images/sections/main/img1/land-image1-1280x854-90.jpg") top / cover no-repeat #000;
    }
}