/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

/* iPhone 5/SE Support - (320px x 568px) */

body {
    max-width: 100vw;
    height: auto;
}

p {
    font-family: 'Lato', sans-serif, Arial, Helvetica;
}

h1 {
    font-family: 'Great Vibes', cursive, Arial, Helvetica, sans-serif;
    font-size: 4rem;
}

/* Navigation Section */

nav.desktop {
    display: none;
}

nav.mobile {
    position: fixed;
    width: 100vw;
    height: 60px;
    top: 20px;
    left: 0;
    z-index: 5;
    background-color: rgba(1, 0, 0, 0.75);
}

.webp div.nav-logo {
    width: 108px;
    height: 84px;
    position: absolute;
    left: 16px;
    top: -12px;
    background: url("../assets/logo/nav-mobile-360x280.webp");
    background-size: cover;
    border-radius: 50%;
}

.no-webp div.nav-logo {
    width: 108px;
    height: 84px;
    position: absolute;
    left: 16px;
    top: -12px;
    background: url("../assets/logo/nav-mobile-360x280.png");
    background-size: cover;
    border-radius: 50%;
}

div.contact-logo img,
div.contact-logo img {
    position: absolute;
    top: 0;
    left: 0;
}

nav.mobile div.nav-menu,
nav.desktop-menu div.return {
    position: absolute;
    top: 10px;
    right: 15px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: #E1D5C3;
}

div.menu__button {
    position: relative;
    height: 40px;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span.menu__line {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
}

span.menu__line::before,
span.menu__line::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
}

span.menu__line::before {
    top: -8px;
}

span.menu__line::after {
    top: 10px;
}

/* Navigation - Desktop Section */
nav.desktop-menu {
    display: none;
}

/* Navigation - Menu Section */

nav.mobile-menu {
    display: none;
    height: 100vh;
}

nav.mobile-menu div.logo img,
nav.mobile-menu div.logo source {
    position: relative;
    top: 10px;
    left: 50vw;
    transform: translateX(-50%);
    animation: showMenuContent 2s ease forwards;
}

nav.mobile-menu {
    height: 100vh;
    width: 100vw;
    background-color: rgb(56, 53, 49);
    overflow: hidden;
}

nav.mobile-menu div.return img {
    position: relative;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
    animation: showMenuContent 2s ease forwards;
}

nav.mobile-menu div.menu ul {
    margin: 50px 0;
    text-align: center;
}

nav.mobile-menu div.menu li {
    line-height: 50px;
    margin: 40px 0;
    font-size: 2rem;
    background-color: rgb(170, 135, 108);
    color: rgb(225, 213, 195);
    font-family: 'Great Vibes', cursive;
    opacity: 0;
}

nav.mobile-menu div.menu li:nth-of-type(1) {
    animation: showMenuContent 1.2s ease .3s forwards;
}

nav.mobile-menu div.menu li:nth-of-type(2) {
    animation: showMenuContent 1.2s ease .6s forwards;
}

nav.mobile-menu div.menu li:nth-of-type(3) {
    animation: showMenuContent 1.2s ease .9s forwards;
}

nav.mobile-menu div.menu li:nth-of-type(4) {
    animation: showMenuContent 1.2s ease 1.2s forwards;
}

nav.mobile-menu div.menu li a {
    position: absolute;
    display: inline-block;
    left: 0;
    top: auto;
    height: 60px;
    width: 100vw;
}

/* Header Section */

div.mobile-wrapper {
    overflow: hidden;
}

header {
    position: relative;
    width: 400vw;
    left: 0;
    top: 0;
}

header.second-img {
    left: -100vw;
    transition: left 1s;
}

header.third-img {
    left: -200vw;
    transition: left 1s;
}

header.fourth-img {
    left: -300vw;
    transition: left 1s;
}

header>div {
    position: relative;
    height: 100vh;
    width: 100vw;
    float: left;
}

header div.img1 h1,
header div.img2 h1,
header div.img3 h1 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    width: 200px;
    color: #E1D5C3;
    font-weight: normal;
}

header div.img2 h1,
header div.img3 h1 {
    opacity: 0;
}

header div.img1 h1.animate {
    opacity: 0;
}

header.second-img div.img2 h1 {
    opacity: 1;
    transition: opacity 1s ease-out 1s;
}

header.third-img div.img3 h1 {
    opacity: 1;
    transition: opacity 1s ease-out 1s;
}

header.fourth-img div.img1 h1 {
    opacity: 1;
    transition: opacity 1s ease-out 1s;
}

header div.img3 h1 {
    color: rgb(138, 139, 140);
}

/* All sections */

section {
    height: 100vh;
    max-width: 100vw;
}

section.about {
    clear: both;
}

/* Section - About */

section.about h1,
p {
    color: rgb(196, 191, 187);
}

section.about h1 {
    position: relative;
}

section.about p {
    position: relative;
    width: 180px;
    height: 350px;
    text-align: center;
}

/* Section - Offer */

section.offer h1 {
    position: relative;
    width: 150px;
    top: 100px;
    left: 30px;
    color: white;
    font-size: 3rem;
    text-shadow: 5px 5px 5px #000;
}

section.offer p {
    position: relative;
    width: 160px;
    top: 130px;
    left: 30px;
    color: white;
    font-size: 0.9rem;
}

section.offer button,
section.gallery button {
    position: relative;
    top: 150px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1.1rem;
    text-shadow: 3px 3px 10px #000;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

/* Section - Gallery & gallery-bg */

section.gallery-bg {
    opacity: 0.75;
}

section.gallery {
    position: relative;
    height: 0;
    top: -100vh;
}

section.gallery h1 {
    position: relative;
    width: 150px;
    top: 100px;
    left: 50vw;
    transform: translateX(-50%);
    color: rgb(243, 244, 246);
    text-shadow: 5px 5px 5px #000;
    font-size: 3.5rem;
}

section.gallery p {
    position: relative;
    width: 250px;
    top: 110px;
    left: 50vw;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 10px black;
    font-size: 1.1rem;
}

section.gallery button {
    left: 50vw;
    top: 130px;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 1.3rem;
}

/* Footer - Contact */

footer {
    background-color: rgb(64, 64, 64);
}

footer h1,
h2 {
    color: rgb(201, 157, 124);
    font-weight: 400;
}

footer h1 {
    padding-top: 100px;
    text-align: center;
    font-size: 3rem;
    font-family: 'Great Vibes', cursive, Arial, Helvetica, sans-serif;
    font-style: normal;
}

div.contact-logo img,
div.contact-logo source {
    position: relative;
    top: 10px;
    left: 50vw;
    transform: translateX(-50%);
}

/* Footer - Details Section */

footer div.contact-info {
    display: block;
    height: auto;
    position: relative;
    top: 50px;
}

footer div.line {
    display: inline-block;
    width: 90vw;
    height: 50px;
    line-height: 50px;
    padding: 0 5vw;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

footer div.line p:first-child {
    width: 35vw;
    float: left;
    color: rgb(201, 157, 124);
}

footer div.line p+p,
footer div.line a {
    width: 55vw;
    float: right;
    line-height: 50px;
    text-align: center;
}

footer div.line:nth-of-type(1) p+p {
    line-height: 25px;
}

footer div.line:nth-of-type(4) {
    height: 75px;
    padding: 10px 5vw;
}

footer div.line:nth-of-type(4) p {
    position: relative;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    line-height: 25px;
}

footer div.line:nth-of-type(4) p+p {
    line-height: 25px;
}

footer div.line:nth-of-type(5) a {
    width: 40px;
    height: 40px;
    margin: 5px 7vw;
    display: inline-block;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgb(196, 191, 187);
    cursor: pointer;
    font-family: 'Lato', sans-serif, Arial, Helvetica;
}

footer div.contact-info a:nth-of-type(3),
a:nth-of-type(4) {
    display: inline-block;
    margin: 15px 0 0 15px;
    width: 30px;
    height: 30px;
}

/* Footer - Form Section */

footer form {
    width: 100vw;
    margin-top: 15vh;
    padding-bottom: 20px;
}

footer form input,
textarea,
label,
footer form button {
    display: block;
    position: relative;
    top: 0;
    left: 50vw;
    transform: translateX(-50%);
    margin: 20px 0;
    text-align: center;
}

footer form label {
    font-family: 'Great Vibes', cursive, Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    color: rgb(201, 157, 124);
}

footer form input,
textarea,
footer form button {
    background-color: rgb(225, 213, 195);
    font-family: 'Lato', sans-serif, Arial, Helvetica;
    font-style: italic;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

footer form input {
    padding: 10px 25px;
}

footer form textarea {
    padding: 10px;
}

footer form button {
    padding: 10px 40px;
    background-color: rgba(112, 112, 112, 0.3);
    color: rgb(201, 157, 124);
    font-size: 1.1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

/* Mobile Menu - Animation */

nav.mobile.animation {
    animation: showMenu .5s ease forwards;
}

@keyframes showMenu {
    0% {
        height: 60px;
        background-color: rgba(56, 53, 49, 1);
    }

    50% {
        top: 0;
    }

    100% {
        height: 100vh;
        top: 0;
        background-color: rgba(56, 53, 49, 1);
    }
}

@keyframes showMenuContent {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* iPhone 5/SE Support - (320px x 568px) */

@media (max-width: 359px) {

    /* Navigation */

    nav.mobile li:nth-child(1) img {
        transform: scale(0.3);
        top: -100px;
        left: -120px;
    }

    /* Navigation - Menu Section */

    nav.mobile-menu div.logo img,
    nav.mobile-menu div.logo source {
        width: 162px;
        height: 126px;
    }

    nav.mobile-menu div.menu li a {
        height: 50px;
    }

    /* Header */

    .webp header div.img1 {
        background: url("../assets/images/sections/main/img1/image1-718x854-90.webp") center bottom / contain no-repeat #000;
    }

    .no-webp header div.img1 {
        background: url("../assets/images/sections/main/img1/image1-718x854-90.jpg") center bottom / contain no-repeat #000;
    }

    header div.img2 {
        background: url("../assets/images/sections/main/img2/image2-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img3 {
        background: url("../assets/images/sections/main/img3/image3-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img1 h1 {
        top: 150px;
        left: 90px;
        width: 215px;
    }

    header div.img2 h1,
    header div.img3 h1 {
        top: 150px;
        left: 65px;
        width: 250px;
        font-size: 2.3rem;
    }

    header div.img3 h1 {
        top: 130px;
    }

    /* Section - About */

    .webp section.about {
        background: url("../assets/images/sections/about/about-320x568-90.webp") center / cover no-repeat #000;
    }

    .no-webp section.about {
        background: url("../assets/images/sections/about/about-320x568-90.jpg") center / cover no-repeat #000;
    }

    section.about h1 {
        width: 120px;
        top: 120px;
        left: 150px;
        font-size: 3.5rem;
    }

    section.about p {
        width: 170px;
        height: 300px;
        top: 160px;
        left: 130px;
        font-size: 0.9rem;
    }

    /* Section - Offer */

    .webp section.offer {
        background: url("../assets/images/sections/offer/offer-320x568-90.webp") center / cover no-repeat #000;
    }

    .no-webp section.offer {
        background: url("../assets/images/sections/offer/offer-320x568-90.jpg") center / cover no-repeat #000;
    }

    /* Section - Gallery & gallery-bg */

    .webp section.gallery-bg {
        background: url("../assets/images/sections/gallery/gallery-320x568-90.webp") center / cover no-repeat;
    }

    .no-webp section.gallery-bg {
        background: url("../assets/images/sections/gallery/gallery-320x568-90.jpg") center / cover no-repeat;
    }

    /* Footer - Contact */

    div.contact-logo img,
    div.contact-logo source {
        width: 126px;
        height: 98px;
    }

    footer div.line:nth-of-type(5) p {
        line-height: 25px;
    }

}

/* Galaxy S5 - iPhone 6/7/8 Support / (360px x 640px) - (375px x 667px) */

@media (min-width: 360px) and (max-width: 375px) {

    /* Navigation */

    nav.mobile {
        height: 80px;
    }

    .webp div.nav-logo,
    .no-webp div.nav-logo {
        width: 126px;
        height: 98px;
        top: -9px;
        left: 27px;
    }

    nav.mobile div.nav-menu {
        top: 15px;
        height: 50px;
        width: 50px;
    }

    nav.mobile div.nav-menu img {
        height: 25px;
        width: 25px;
    }

    /* Navigation - Menu Section */

    nav.mobile-menu div.logo img,
    nav.mobile-menu div.logo source {
        width: 162px;
        height: 126px;
    }

    nav.mobile-menu div.return img {
        width: 35px;
        height: 35px;
    }

    nav.mobile-menu div.menu ul {
        margin: 50px 0;
        text-align: center;
    }

    nav.mobile-menu div.menu li {
        height: 60px;
        line-height: 60px;
        margin: 45px 0;
        font-size: 2.5rem;
    }

    /* Header */

    .webp header div.img1 {
        background: url("../assets/images/sections/main/img1/image1-718x854-90.webp") center bottom / contain no-repeat #000;
    }

    .no-webp header div.img1 {
        background: url("../assets/images/sections/main/img1/image1-718x854-90.jpg") center bottom / contain no-repeat #000;
    }

    header div.img2 {
        background: url("../assets/images/sections/main/img2/image2-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img3 {
        background: url("../assets/images/sections/main/img3/image3-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img1 h1 {
        top: 170px;
        left: 100px;
        font-size: 2.3rem;
        width: 250px;
    }

    header div.img2 h1,
    header div.img3 h1 {
        top: 170px;
        left: 70px;
        width: 320px;
        font-size: 2.6rem;
    }

    header div.img3 h1 {
        top: 150px;
    }

    /* Section - About */

    .webp section.about {
        background: url("../assets/images/sections/about/about-375x667-90.webp") center / cover no-repeat #000;
    }

    .no-webp section.about {
        background: url("../assets/images/sections/about/about-375x667-90.jpg") center / cover no-repeat #000;
    }

    section.about h1 {
        width: 140px;
        top: 140px;
        left: 190px;
    }

    section.about p {
        width: 180px;
        height: 350px;
        top: 190px;
        left: 170px;
    }

    /* Section - Offer */

    .webp section.offer {
        background: url("../assets/images/sections/offer/offer-320x568-90.webp") center / cover no-repeat #000;
    }

    .no-webp section.offer {
        background: url("../assets/images/sections/offer/offer-320x568-90.jpg") center / cover no-repeat #000;
    }

    section.offer h1 {
        top: 120px;
        font-size: 3.5rem;
    }

    section.offer p {
        width: 180px;
        top: 150px;
        font-size: 1rem;
    }

    section.offer button {
        top: 170px;
        font-size: 1.2rem;
    }

    /* Section - Gallery & gallery-bg */

    .webp section.gallery-bg {
        background: url("../assets/images/sections/gallery/gallery-375x667-90.webp") center / cover no-repeat;
    }

    .no-webp section.gallery-bg {
        background: url("../assets/images/sections/gallery/gallery-375x667-90.jpg") center / cover no-repeat;
    }

    section.gallery h1 {
        top: 120px;
        font-size: 4rem;
    }

    section.gallery p {
        width: 300px;
        top: 130px;
        font-size: 1.3rem;
    }

    section.gallery button {
        top: 160px;
        padding: 15px 25px;
        font-size: 1.5rem;
    }

    /* Footer - Contact */

    footer h1 {
        padding-top: 120px;
    }

    div.contact-logo img,
    div.contact-logo source {
        width: 162px;
        height: 126px;
    }

    footer p,
    footer a {
        font-size: 1.3rem;
    }

    footer form label {
        font-size: 2.2rem;
    }

    footer form input {
        font-size: 1.2rem;
    }

    footer form textarea {
        font-size: 1.2rem;
    }

    footer form button {
        font-size: 1.3rem;
        padding: 10px 50px;
    }

    footer div.line:nth-of-type(1) p+p {
        width: 50vw;
    }

    footer div.line:nth-of-type(5) p {
        line-height: 25px;
    }
}

/* Pixel 2 - iPhone 6/7/8 Plus Support / (411px x 731px) - (414px x 736px) */

@media (min-width: 376px) and (max-width: 500px) {

    /* Navigation */

    nav.mobile {
        top: 15px;
        height: 90px;
    }

    .webp div.nav-logo,
    .no-webp div.nav-logo {
        width: 144px;
        height: 112px;
        top: -11px;
        left: 18px;
    }

    nav.mobile div.nav-menu {
        top: 20px;
        height: 50px;
        width: 50px;
    }

    nav.mobile div.nav-menu img {
        height: 25px;
        width: 25px;
    }

    /* Navigation - Menu Section */

    nav.mobile-menu div.logo img,
    nav.mobile-menu div.logo source {
        width: 216px;
        height: 168px;
    }

    nav.mobile-menu div.return img {
        width: 40px;
        height: 40px;
    }

    nav.mobile-menu div.menu ul {
        text-align: center;
    }

    nav.mobile-menu div.menu li {
        line-height: 60px;
        margin: 50px 0;
        font-size: 2.5rem;
    }

    /* Header */

    .webp header div.img1 {
        background: url("../assets/images/sections/main/img1/image1-718x854-90.webp") center bottom / contain no-repeat #000;
    }

    .no-webp header div.img1 {
        background: url("../assets/images/sections/main/img1/image1-718x854-90.jpg") center bottom / contain no-repeat #000;
    }

    header div.img2 {
        background: url("../assets/images/sections/main/img2/image2-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img3 {
        background: url("../assets/images/sections/main/img3/image3-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img1 h1 {
        top: 180px;
        left: 110px;
        font-size: 2.75rem;
        width: 295px;
    }

    header div.img2 h1,
    header div.img3 h1 {
        top: 200px;
        left: 80px;
        width: 330px;
        font-size: 3rem;
    }

    header div.img3 h1 {
        top: 160px;
    }

    /* Section - About */

    .webp section.about {
        background: url("../assets/images/sections/about/about-414x736-90.webp") center / cover no-repeat #000;
    }

    .no-webp section.about {
        background: url("../assets/images/sections/about/about-414x736-90.jpg") center / cover no-repeat #000;
    }

    section.about h1 {
        width: 140px;
        top: 140px;
        left: 220px;
        font-size: 4.5rem;
    }

    section.about p {
        width: 220px;
        height: 350px;
        top: 200px;
        left: 180px;
        font-size: 1.2rem;
    }

    /* Section - Offer */

    .webp section.offer {
        background: url("../assets/images/sections/offer/offer-414x736-90.webp") center / cover no-repeat #000;
    }

    .no-webp section.offer {
        background: url("../assets/images/sections/offer/offer-414x736-90.jpg") center / cover no-repeat #000;
    }

    section.offer h1 {
        top: 140px;
        font-size: 4rem;
    }

    section.offer p {
        width: 200px;
        top: 170px;
        font-size: 1.1rem;
    }

    section.offer button {
        top: 200px;
        font-size: 1.4rem;
    }

    /* Section - Gallery & gallery-bg */

    .webp section.gallery-bg {
        background: url("../assets/images/sections/gallery/gallery-414x736-90.webp") center / cover no-repeat;
    }

    .no-webp section.gallery-bg {
        background: url("../assets/images/sections/gallery/gallery-414x736-90.jpg") center / cover no-repeat;
    }

    section.gallery h1 {
        top: 140px;
        font-size: 4.5rem;
    }

    section.gallery p {
        width: 320px;
        top: 150px;
        font-size: 1.4rem;
    }

    section.gallery button {
        top: 180px;
        padding: 15px 35px;
        font-size: 1.5rem;
    }

    /* Footer - Contact */

    footer h1 {
        padding-top: 130px;
    }

    div.contact-logo img,
    div.contact-logo source {
        width: 180px;
        height: 140px;
    }

    footer div.line p,
    footer div.line a {
        font-size: 1.5rem;
    }

    footer form label {
        font-size: 2.5rem;
    }

    footer form input {
        font-size: 1.4rem;
    }

    footer form textarea {
        font-size: 1.4rem;
    }

    footer form button {
        font-size: 1.5rem;
        padding: 10px 50px;
    }

    footer div.line:nth-of-type(5) p {
        line-height: 25px;
    }
}

/* iPad Support / (768px x 1024px) */

@media (orientation: portrait) and (min-width: 500px) {

    /* Navigation */

    /* To delete */
    nav.mobile li:nth-child(1) {
        left: 30px;
    }

    nav.mobile {
        top: 15px;
        height: 90px;
    }

    .webp div.nav-logo,
    .no-webp div.nav-logo {
        width: 144px;
        height: 112px;
        top: -11px;
        left: 38px;
    }

    nav.mobile div.nav-menu {
        top: 20px;
        right: 30px;
        height: 50px;
        width: 50px;
    }

    nav.mobile div.nav-menu img {
        height: 25px;
        width: 25px;
    }

    /* Navigation - Menu Section */

    nav.mobile-menu div.logo img,
    nav.mobile-menu div.logo source {
        width: 306px;
        height: 238px;
    }

    nav.mobile-menu div.return img {
        top: 50px;
        left: 50px;
        width: 50px;
        height: 50px;
    }

    nav.mobile-menu div.menu ul {
        margin: 80px 0;
        text-align: center;
    }

    nav.mobile-menu div.menu li {
        line-height: 80px;
        margin: 60px 0;
        font-size: 3rem;
    }

    nav.mobile-menu div.menu li a {
        height: 80px;
    }

    /* Header */

    header div.img1 {
        background: url("../assets/images/sections/main/img1/image1-718x854-90.jpg") center bottom / contain no-repeat #000;
    }

    header div.img2 {
        background: url("../assets/images/sections/main/img2/image2-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img3 {
        background: url("../assets/images/sections/main/img3/image3-718x854-90.jpg") center / cover no-repeat;
    }

    header div.img1 h1 {
        top: 150px;
        left: 300px;
        font-size: 4rem;
        width: 430px;
    }

    header div.img2 h1,
    header div.img3 h1 {
        top: 250px;
        left: 200px;
        width: 550px;
        font-size: 5rem;
    }

    header div.img3 h1 {
        top: 200px;
    }

    /* Section - About */

    .webp section.about {
        background: url("../assets/images/sections/about/about-718x854-90.webp") center / cover no-repeat #000;
    }

    .no-webp section.about {
        background: url("../assets/images/sections/about/about-718x854-90.jpg") center / cover no-repeat #000;
    }

    section.about h1 {
        top: 200px;
        left: 50vw;
        width: 180px;
        font-size: 5rem;
    }

    section.about p {
        width: 40vw;
        top: 250px;
        left: 40vw;
        font-size: 1.7rem;
    }

    /* Section - Offer */

    .webp section.offer {
        background: url("../assets/images/sections/offer/offer-718x854-90.webp") center / cover no-repeat #000;
    }

    .no-webp section.offer {
        background: url("../assets/images/sections/offer/offer-718x854-90.jpg") center / cover no-repeat #000;
    }

    section.offer h1 {
        top: 170px;
        left: 50px;
        font-size: 5rem;
    }

    section.offer p {
        width: 300px;
        top: 200px;
        left: 50px;
        font-size: 1.6rem;
    }

    section.offer button {
        top: 250px;
        left: 50px;
        padding: 20px;
        border-radius: 20px;
        font-size: 2rem;
    }

    /* Section - Gallery & gallery-bg */

    .webp section.gallery-bg {
        background: url("../assets/images/sections/gallery/gallery-718x854-90.webp") center / cover no-repeat;
    }

    .no-webp section.gallery-bg {
        background: url("../assets/images/sections/gallery/gallery-718x854-90.jpg") center / cover no-repeat;
    }

    section.gallery h1 {
        top: 180px;
        font-size: 6rem;
        width: 230px;
    }

    section.gallery p {
        width: 500px;
        top: 200px;
        font-size: 2rem;
    }

    section.gallery button {
        top: 260px;
        padding: 20px 45px;
        font-size: 2rem;
    }

    /* Footer - Contact */

    footer h1 {
        font-size: 5rem;
        padding-top: 130px;
    }

    div.contact-logo img,
    div.contact-logo source {
        width: 306px;
        height: 238px;
    }

    footer div.contact-info {
        top: 70px;
    }

    footer div.contact-info div.line {
        text-align: center;
        height: 80px;
    }

    footer div.line p+p {
        width: 50vw;
        height: 80px;
    }

    footer div.line p,
    footer div.line a {
        font-size: 2.5rem;
        line-height: 80px;
    }

    footer div.line:nth-of-type(4) a,
    footer div.line:nth-of-type(5) a {
        height: 70px;
        width: 70px;
    }

    footer div.line:nth-of-type(1) p+p,
    footer div.line:nth-of-type(4) p {
        line-height: 40px;
    }

    footer div.line:nth-of-type(4) {
        height: 100px;
        padding: 20px 5vw;
    }

    footer div.contact-info div.line:nth-of-type(4) {
        height: 100px;
    }

    footer div.contact-info div.line:nth-of-type(4) p+p {
        height: 100px;
        line-height: calc(100px / 3);
    }

    footer div.line:nth-of-type(5) p {
        line-height: 80px;
    }

    footer form label {
        font-size: 3.5rem;
    }

    footer form input {
        width: 470px;
        font-size: 2rem;
    }

    footer form textarea {
        width: 500px;
        font-size: 2rem;
    }

    footer form button {
        width: auto;
        font-size: 2rem;
        padding: 15px 70px;
    }
}

/* iPhone 5/SE Support - Landscape orientation */

@media (orientation: landscape) and (min-width: 500px) {

    /* Menu Section */

    nav.mobile-menu {
        height: auto;
    }

    nav.mobile-menu img {
        width: 180px;
        height: 140px;
    }

    nav.mobile-menu div.return img {
        height: 35px;
        width: 35px;
    }

    nav.mobile-menu div.menu li {
        line-height: 60px;
        font-size: 2.5rem;
    }

    /* Nav Section */

    nav.mobile a {
        display: none;
    }

    nav.mobile {
        top: 5px;
        left: 0px;
        background-color: transparent;
    }

    /* Header Section */

    .webp header div.img1 {
        background: url("../assets/images/sections/main/img1/land-image1-1280x854-90.webp") top / cover no-repeat #000;
    }

    .no-webp header div.img1 {
        background: url("../assets/images/sections/main/img1/land-image1-1280x854-90.jpg") top / cover no-repeat #000;
    }

    .webp header div.img2 {
        background: url("../assets/images/sections/main/img2/land-image2-1280x854-90.webp") top / cover no-repeat;
    }

    .no-webp header div.img2 {
        background: url("../assets/images/sections/main/img2/land-image2-1280x854-90.jpg") top / cover no-repeat;
    }

    .webp header div.img3 {
        background: url("../assets/images/sections/main/img3/land-image3-1280x854-90.webp") top / cover no-repeat;
    }

    .no-webp header div.img3 {
        background: url("../assets/images/sections/main/img3/land-image3-1280x854-90.jpg") top / cover no-repeat;
    }

    header div.img1 h1 {
        width: 250px;
        top: 100px;
        left: 270px;
        font-size: 2.2rem;
    }

    header div.img2 h1 {
        width: 250px;
        top: 70px;
        left: 250px;
        font-size: 2.2rem;
    }

    header div.img3 h1 {
        width: 250px;
        top: 50px;
        left: 270px;
        font-size: 2.2rem;
    }

    /* About Section */

    .webp section.about {
        background: url("../assets/images/sections/about/land-about-1280x854-90.webp") top / cover no-repeat;
    }

    .no-webp section.about {
        background: url("../assets/images/sections/about/land-about-1280x854-90.jpg") top / cover no-repeat;
    }

    section.about h1 {
        width: 160px;
        top: 45px;
        left: 300px;
    }

    section.about p {
        left: 220px;
        top: 70px;
        width: 330px;
        font-size: 1rem;
    }

    /* Offer Section */

    .webp section.offer {
        background: url("../assets/images/sections/offer/land-offer-1280x854-90.webp") top / cover no-repeat;
    }

    .no-webp section.offer {
        background: url("../assets/images/sections/offer/land-offer-1280x854-90.jpg") top / cover no-repeat;
    }

    section.offer h1 {
        top: 30px;
        left: 20px;
    }

    section.offer p {
        left: 20px;
        top: 60px;
        width: 330px;
        font-size: 1rem;
        text-shadow: 2px 2px 5px #000;
    }

    section.offer button {
        top: 90px;
        left: 20px;
    }

    /* Gallery Section */

    .webp section.gallery-bg {
        background: url("../assets/images/sections/gallery/gallery-1280x854-90.webp") center / cover no-repeat;
    }

    .no-webp section.gallery-bg {
        background: url("../assets/images/sections/gallery/gallery-1280x854-90.jpg") center / cover no-repeat;
    }

    section.gallery h1 {
        top: 20px;
    }

    section.gallery p {
        width: 400px;
        top: 30px;
    }

    section.gallery button {
        top: 50px;
    }

    /* Contact Section */

    footer h1 {
        padding-top: 40px;
    }

    div.contact-logo {
        top: -50px;
        height: 0;
        width: 0;
    }

    div.contact-logo img,
    div.contact-logo source {
        width: 126px;
        height: 98px;
        top: -30px;
        left: 100px;
        transform: translate(-50%, -50%);
    }

    div.contact-info div.line p:first-child {
        font-size: 1.4rem;
        text-align: center;
    }

    div.contact-info div.line:first-child p+p {
        box-sizing: border-box;
        padding: 0 10vw;
        text-align: center;
    }

    div.contact-info div.line:nth-of-type(4) p+p {
        box-sizing: border-box;
        padding: 0 5vw;
    }

    div.contact-info div.line p+p,
    div.contact-info div.line a {
        font-size: 1.4rem;
    }

    div.contact-info div.line:last-child a:nth-of-type(1) {
        margin-right: 13vw;
    }

    footer form {
        margin-top: 30vh;
    }

    footer form label {
        font-size: 2.3rem;
    }

    footer form input {
        font-size: 1.3rem;
    }

    footer form textarea {
        font-size: 1.1rem;
        padding: 10px 20px;
    }

    footer form button {
        font-size: 1.3rem;
    }

}

/* Galaxy S5 - iPhone 6/7/8 Support - Landscape orientation */

@media (orientation: landscape) and (min-width: 640px) {

    /* Menu / Nav Section */

    nav.mobile div.nav-menu {
        width: 50px;
        height: 50px;
    }

    nav.mobile div.nav-menu img {
        width: 25px;
        height: 25px;
    }

    /* Header Section */

    header div.img1 h1,
    header div.img2 h1,
    header div.img3 h1 {
        width: 280px;
        left: 300px;
        font-size: 2.5rem;
    }

    /* About Section */

    section.about h1 {
        left: 350px;
    }

    section.about p {
        width: 360px;
        left: 250px;
        font-size: 1.1rem;
    }

    /* Offer Section */

    section.offer h1 {
        font-size: 3.5rem;
    }

    section.offer p {
        width: 300px;
        font-size: 1.1rem;
        font-style: italic;
    }

    /* Gallery Section */

    section.gallery h1 {
        font-size: 4rem;
    }

    section.gallery p {
        font-size: 1.2rem;
    }

    section.gallery button {
        padding: 15px 25px;
        top: 60px;
        font-size: 1.4rem;
    }

    /* Contact Section */

    footer h1 {
        padding-top: 60px;
        font-size: 4rem;
    }

    div.contact-logo img,
    div.contact-logo source {
        height: 112px;
        width: 140px;
        top: -50px;
    }

    div.contact-info div.line p:first-child {
        font-size: 1.5rem;
    }

    div.contact-info div.line p:last-child,
    div.contact-info div.line a {
        font-size: 1.5rem;
    }

    div.contact-info div.line:nth-of-type(1) p:last-child {
        padding: 0 12vw;
    }

    div.contact-info div.line:nth-of-type(4) p:last-child {
        padding: 0 7vw;
    }

    div.contact-info div.line:nth-of-type(5) a {
        height: 45px;
        width: 45px;
    }

    footer form label {
        font-size: 2.6rem;
    }

    footer form input {
        font-size: 1.6rem;
    }

    footer form textarea {
        font-size: 1.4rem;
    }

    footer form button {
        font-size: 1.5rem;
    }
}

/* Pixel 2 - iPhone 6/7/8 Plus Support - Landscape orientation */

@media (orientation: landscape) and (min-width: 736px) {

    /* Menu / Nav Section */

    nav.mobile div.nav-menu {
        width: 55px;
        height: 55px;
    }

    nav.mobile div.nav-menu img {
        width: 30.5px;
        height: 30.5px;
    }

    /* Header section */

    header div.img1 h1,
    header div.img2 h1,
    header div.img3 h1 {
        width: 320px;
        top: 120px;
        left: 350px;
        font-size: 2.8rem;
    }

    header div.img3 h1 {
        top: 80px;
    }

    /* About section */

    section.about h1 {
        top: 80px;
        left: 430px;
        font-size: 4.5rem;
    }

    section.about p {
        width: 400px;
        left: 300px;
        top: 100px;
        font-size: 1.3rem;
        font-style: italic;
    }

    /* Offer section */

    section.offer h1 {
        font-size: 4rem;
    }

    section.offer p {
        font-size: 1.3rem;
    }

    section.offer button {
        font-size: 1.2rem;
        padding: 15px;
    }

    /* Gallery section */

    section.gallery h1 {
        font-size: 4.5rem;
    }

    section.gallery p {
        width: 450px;
        font-size: 1.3rem;
    }

    section.gallery button {
        font-size: 1.5rem;
        padding: 15px 30px;
    }

    /* Contact Section */

    footer h1 {
        font-size: 4.5rem;
    }

    footer div.contact-logo img,
    footer div.contact-logo source {
        height: 128px;
        width: 162px;
    }

    div.contact-info div.line p:first-child {
        font-size: 1.6rem;
    }

    div.contact-info div.line p:last-child,
    div.contact-info div.line a {
        font-size: 1.6rem;
    }

    div.contact-info div.line:nth-of-type(4) p:last-child {
        padding: 0 9vw;
    }

    footer form label {
        font-size: 2.8rem;
    }

    footer form input {
        width: 300px;
    }

    footer form textarea {
        width: 350px;
    }

    footer form button {
        font-size: 1.6rem;
    }
}

/* Desktop Media */

@media (min-width: 935px) {

    /* Desktop Menu Section */

    nav.desktop-menu {
        display: none;
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: auto;
        overflow: hidden;
        z-index: 11;
    }

    /* Menu Background */

    nav.desktop-menu div.desktop-menu-background {
        display: block;
        position: absolute;
        height: 5vh;
        width: 5vh;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.75);
    }

    /* Menu Button */

    nav.desktop-menu div.return {
        height: 55px;
        width: 55px;
        top: 15px;
        right: 35px;
    }

    /* Menu Button Animation */

    div.return.active span.menu__line::before,
    div.return.active span.menu__line::after {
        animation: changeMenuButton .5s linear forwards;
    }

    @keyframes changeMenuButton {
        0% {}

        80% {
            background-color: #000;
        }

        90% {
            background-color: transparent;
        }

        100% {
            top: 0;
        }
    }

    div.return.active.cross span.menu__line::before {
        animation: createCrossLeft .5s linear forwards;
    }

    div.return.active.cross span.menu__line::after {
        animation: createCrossRight .5s linear forwards;
    }

    @keyframes createCrossLeft {
        0% {
            top: 0;
            transform: translate(-50%, -50%) rotate(0);
        }

        100% {
            transform: translate(-50%, 8px) rotate(-45deg);
        }
    }

    @keyframes createCrossRight {
        0% {
            top: 0;
            transform: translate(-50%, -50%) rotate(0);
        }

        100% {
            transform: translate(-50%, -10px) rotate(45deg);
        }
    }

    /* Menu Content */

    div.content-return {
        position: absolute;
        top: 15px;
        right: 35px;
        height: 55px;
        width: 55px;
        cursor: pointer;
        background-color: transparent;
    }

    nav.desktop-menu section.desktop-menu-content {
        position: fixed;
        top: 0;
        left: auto;
        height: 100vh;
        width: 100vw;
    }

    nav.desktop-menu section.desktop-menu-content div.menu {
        position: relative;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    nav.desktop-menu section.desktop-menu-content div.menu li {
        margin: 25px 0;
        font-size: 0px;
        color: #fff;
        list-style: none;
    }

    nav.desktop-menu section.desktop-menu-content div.menu a {
        position: absolute;
        height: 40px;
        box-sizing: content-box;
        transform: translateX(-20px);
        padding: 0 20px;
        cursor: pointer;
    }

    nav.desktop-menu section.desktop-menu-content div.menu a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        border: 0;
    }

    nav.desktop-menu section.desktop-menu-content div.menu a::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 0;
        width: 0;
    }

    nav.desktop-menu section.desktop-menu-content div.menu li:nth-child(1) a {
        width: 93px;
    }

    nav.desktop-menu section.desktop-menu-content div.menu li:nth-child(2) a {
        width: 103px;
    }

    nav.desktop-menu section.desktop-menu-content div.menu li:nth-child(3) a {
        width: 118px;
    }

    nav.desktop-menu section.desktop-menu-content div.menu li:nth-child(4) a {
        width: 130px;
    }

    /* Menu - Animation */

    div.desktop-menu-background.desktopMenuAnimation {
        animation: desktopMenuAnimation .5s ease forwards;
    }

    @keyframes desktopMenuAnimation {
        0% {
            height: 5vw;
            width: 5vw;
        }

        90% {
            height: 150vw;
            width: 150vw;
            border-radius: 50%;
        }

        100% {
            height: 100vh;
            width: 100vw;
            border-radius: 0;
        }
    }

    /* Menu Content - Animation */

    nav.desktop-menu section.desktop-menu-content div.menu li.desktopShowMenuContent {
        animation: desktopShowMenuContent .5s ease forwards;
    }

    @keyframes desktopShowMenuContent {
        0% {
            font-size: 0;
        }

        100% {
            font-size: 2.5rem;
        }
    }

    /* Menu Content Left/Right Borders - Animation */

    nav.desktop-menu section.desktop-menu-content div.menu a:hover::before {
        height: 40px;
        transition: height .2s ease-in;
        border: 1px solid #fff;
    }

    nav.desktop-menu section.desktop-menu-content div.menu a:hover::after {
        height: 40px;
        transition: height .2s ease-in;
        border: 1px solid #fff;
    }

    nav.desktop-menu section.desktop-menu-content div.menu a:not(:hover)::before {
        border: 1px solid transparent;
        height: 0;
        transition: height .5s ease-out, border 1s ease;
    }

    nav.desktop-menu section.desktop-menu-content div.menu a:not(:hover)::after {
        border: 1px solid transparent;
        height: 0;
        transition: height .5s ease-out, border 1s ease;
    }

    /* Nav Section */

    nav.mobile {
        width: 98vw;
    }

    nav.mobile-menu {
        height: 100vh;
    }

    /* Header Section */

    header div.img1 h1,
    header div.img2 h1,
    header div.img3 h1 {
        width: 450px;
        top: 25vh;
        left: 50vw;
        font-size: 4rem;
    }

    header div.img2 h1 {
        left: 40vw;
    }

    header div.img3 h1 {
        top: 15vh;
    }

    header.second-img,
    header.third-img,
    header.fourth-img {
        transition-duration: 2s;
    }

    /* About Section */

    section.about h1 {
        width: 250px;
        top: 20vh;
        left: 55vw;
        font-size: 6rem;
    }

    section.about p {
        width: 550px;
        top: 30vh;
        left: 40vw;
        font-size: 1.8rem;
    }

    /* Offer Section */

    section.offer h1 {
        font-size: 6rem;
    }

    section.offer p {
        top: 80px;
        font-size: 1.6rem;
    }

    section.offer button {
        top: 120px;
        font-size: 1.5rem;
    }

    /* Gallery Section */

    section.gallery h1 {
        width: 170px;
        top: 70px;
        left: 85vw;
    }

    section.gallery p {
        width: 250px;
        top: 20vh;
        left: 85vw;
        text-shadow: none;
        color: #000;
        font-size: 1.3rem;
    }

    section.gallery button {
        top: 25vh;
        left: 85vw;
        font-size: 1.7rem;
    }

    section.gallery-bg {
        width: 70vw;
        opacity: 1;
        background-size: cover;
    }

    /* Contact Section */

    footer div.contact-logo img,
    footer div.contact-logo source {
        height: 150px;
        width: 190px;
        top: 0;
        left: 150px;
    }

    footer div.contact-info {
        padding-left: 5vw;
        width: 50vw;
        top: 150px;
        z-index: 10;
    }

    footer div.line {
        padding: 15px 0;
        width: 45vw;
    }

    footer div.line:nth-of-type(4) {
        padding: 0;
    }

    div.contact-info div.line:nth-of-type(1) p:last-child,
    div.contact-info div.line:nth-of-type(4) p:last-child,
    div.contact-info div.line:last-child a {
        box-sizing: border-box;
        padding: 0;
    }

    div.contact-info div.line:nth-of-type(1) p:last-child {
        box-sizing: content-box;
        padding-right: 20px;
        width: 20vw;
    }

    div.contact-info div.line:nth-of-type(4) p:last-child {
        width: 25vw;
    }

    div.contact-info div.line p:first-child {
        width: 20vw;
        text-align: left;
    }

    div.contact-info div.line p:last-child,
    div.contact-info div.line a {
        width: 25vw;
    }

    div.contact-info div.line:last-child a {
        margin: 0 5vw 0 0;
    }

    div.contact-info div.line:last-child a:nth-of-type(1) {
        margin-right: 5vw;
    }

    footer#contact {
        height: auto;
        max-height: 125vw;
    }

    footer form {
        width: 45vw;
        margin-top: 0;
        position: relative;
        top: -52vh;
        left: 25vw;
    }

    /* Google Map Section */

    footer div.map {
        max-width: 100vw;
        position: relative;
        top: -50vh;
        left: 0;
    }

    footer div.map h1 {
        padding: 0 0 30px 0;
    }
}

@media (min-width: 1280px) and (min-height: 500px) {

    /* Desktop Menu */

    /* Menu Button */

    nav.desktop-menu div.return {
        right: 40px;
    }

    div.content-return {
        right: 40px;
    }

    /* Header Section */

    header div.img1 {
        background-position-y: center;
    }

    header div.img1 h1 {
        top: 25vh;
        left: 50vw;
    }

    /* About Section */

    section.about h1 {
        left: 60vw;
    }

    section.about p {
        left: 45vw;
    }

    /* Offer Section */

    section.offer p {
        width: 400px;
        font-size: 1.7rem;
    }

    section.offer button {
        top: 20vh;
        font-size: 1.6rem;
    }

    /* Gallery Section */

    section.gallery h1 {
        top: 5vh;
    }

    section.gallery p {
        width: 25vw;
        top: 12vh;
        font-size: 1.5rem;
    }

    section.gallery button {
        top: 18vh;
        font-size: 1.8rem;
    }

    /* Contact Section */

    footer#contact {
        max-height: 105vw;
    }

    /* Logo */

    footer div.contact-logo img,
    footer div.contact-logo source {
        height: 170px;
        width: 220px;
        left: 15vw;
    }

    div.contact-info div.line p:first-child,
    div.contact-info div.line p:last-child,
    div.contact-info div.line a {
        font-size: 1.7rem;
    }

    div.contact-info div.line:nth-of-type(4) p:last-child {
        width: 23vw;
    }

    div.contact-info div.line:nth-of-type(5) a {
        height: 50px;
        width: 50px;
    }

    footer form {
        top: -55vh;
        width: 40vw;
        left: 27vw;
    }
}

@media (min-width: 1280px) and (min-height: 650px) {

    /* Contact Section */

    footer#contact {
        max-height: 100vw;
    }

    footer form {
        top: -25vw;
    }
}

@media (min-width: 1280px) and (min-height: 850px) {

    /* Header Section */

    header div.img1 h1,
    header div.img2 h1,
    header div.img3 h1 {
        width: 500px;
        font-size: 4.5rem;
    }

    /* About Section */

    section.about h1 {
        left: 58vw;
        font-size: 7rem;
    }

    section.about p {
        width: 600px;
        font-size: 2rem;
    }

    /* Offer Section */

    section.offer h1 {
        font-size: 7rem;
    }

    section.offer p {
        width: 350px;
        font-size: 1.8rem;
    }

    section.offer button {
        top: 15vh;
    }

    /* Gallery Section */

    section.gallery h1 {
        font-size: 5rem;
    }

    section.gallery p {
        font-size: 1.8rem;
    }

    section.gallery button {
        font-size: 2rem;
    }

    /* Contact Section */

    footer#contact {
        max-height: 100vw;
    }

    footer form {
        top: -28vw;
    }

    footer div.map {
        top: -28vw;
    }
}

@media (min-width: 1360px) {

    /* Desktop Menu */

    /* Menu Button */

    nav.desktop-menu div.return {
        right: 42px;
    }

    div.content-return {
        right: 42px;
    }

    /* Header Section */

    .webp header div.img1 {
        background: url("../assets/images/sections/main/img1/land-image1-1920x1081-90.webp") center / cover no-repeat;
    }

    .no-webp header div.img1 {
        background: url("../assets/images/sections/main/img1/land-image1-1920x1081-90.jpg") center / cover no-repeat;
    }

    .webp header div.img2 {
        background: url("../assets/images/sections/main/img2/land-image2-1920x1281-70.webp") bottom / cover no-repeat;
    }

    .no-webp header div.img2 {
        background: url("../assets/images/sections/main/img2/land-image2-1920x1281-70.jpg") bottom / cover no-repeat;
    }

    header div.img2 h1 {
        left: 55vw;
    }

    .webp header div.img3 {
        background: url("../assets/images/sections/main/img3/land-image3-1920x1281-70.webp") center / cover no-repeat;
    }

    .no-webp header div.img3 {
        background: url("../assets/images/sections/main/img3/land-image3-1920x1281-70.jpg") center / cover no-repeat;
    }

    /* Section About */

    .webp section.about {
        background: url("../assets/images/sections/about/land-about-1920x1281.webp") top / cover no-repeat;
    }

    .no-webp section.about {
        background: url("../assets/images/sections/about/land-about-1920x1281.jpg") top / cover no-repeat;
    }

    section.about h1 {
        left: 60vw;
    }

    section.about p {
        left: 48vw;
    }

    /* Offer Section */

    .webp section.offer {
        background: url("../assets/images/sections/offer/land-offer-1920x1080.webp") top / cover no-repeat;
    }

    .no-webp section.offer {
        background: url("../assets/images/sections/offer/land-offer-1920x1080.jpg") top / cover no-repeat;
    }

    /* Gallery Section */

    .webp section.gallery-bg {
        background: url("../assets/images/sections/gallery/land-gallery-1920x1280.webp") center / cover no-repeat;
    }

    .no-webp section.gallery-bg {
        background: url("../assets/images/sections/gallery/land-gallery-1920x1280.jpg") center / cover no-repeat;
    }

    /* Contact Section */

    footer#contact {
        max-height: 92vw;
    }

    div.contact-info div.line:nth-of-type(1) p:last-child {
        padding-right: 35px;
        width: 19vw;
    }

    div.contact-info div.line:nth-of-type(4) p:last-child {
        padding-right: 35px;
        width: 22vw;
    }

    div.contact-info div.line:last-child a:nth-of-type(1) {
        margin-right: 6.5vw;
    }

    footer div.map {
        top: -55vh;
    }
}

@media (min-width: 1440px) {

    /* Desktop Menu */

    /* Menu Button */

    nav.desktop-menu div.return {
        right: 45px;
    }

    div.content-return {
        right: 45px;
    }

    /* Header */

    header div.img2 h1 {
        top: 20vh;
        left: 50vw;
    }

    /* Gallery Section */

    footer#contact {
        max-height: 90vw;
    }

    section.gallery h1 {
        font-size: 5rem;
    }

    section.gallery p {
        width: 21vw;
        font-size: 1.6rem;
    }

    section.gallery button {
        top: 20vh;
        font-size: 1.9rem;
    }

    div.contact-info div.line:nth-of-type(1) p:last-child {
        width: 18vw;
        padding-right: 45px;
    }

    footer form {
        top: -23vw;
    }

    footer div.map {
        top: -22vw;
    }
}

@media (min-width: 1600px) {

    /* Desktop Menu */

    /* Menu Button */

    nav.desktop-menu div.return {
        right: 48px;
    }

    div.content-return {
        right: 48px;
    }

    /* Header */
    header div.img2 h1 {
        top: 15vh;
    }

    /* Gallery Section */

    section.gallery p {
        font-size: 1.7rem;
    }

    /* Contact Section */

    footer#contact {
        max-height: 80vw;
    }

    div.contact-info div.line:first-child p:last-child {
        width: 16vw;
        padding-right: 70px;
    }

    div.contact-info div.line:nth-of-type(4) p:last-child {
        width: 21vw;
        padding-right: 60px;
    }

    div.contact-info div.line:last-child a:nth-of-type(1) {
        margin-right: 7vw;
    }
}

@media (min-width: 1600px) and (min-height: 900px) {

    /* Desktop Menu */

    /* Menu Button */

    nav.desktop-menu div.return {
        right: 48px;
    }

    div.content-return {
        right: 48px;
    }

    /* Header */

    header div.img2 h1 {
        top: 25vh;
    }

    /* Offer Section */

    section.offer p {
        top: 10vh;
        font-size: 1.9rem;
    }

    section.offer button {
        top: 18vh;
        font-size: 1.8rem;
    }

    /* Gallery Section */

    section.gallery h1 {
        left: 83vw;
        top: 10vh;
        font-size: 6rem;
    }

    section.gallery p {
        top: 17vh;
    }

    section.gallery button {
        top: 25vh;
        font-size: 2rem;
    }

    /* Contact Section */

    footer h1 {
        font-size: 5rem;
    }

    footer#contact {
        max-height: 75vw;
    }

    div.contact-info div.line:first-child p:last-child {
        width: 15vw;
        padding-right: 80px;
    }
}

@media (min-width: 1900px) and (min-height: 900px) {

    /* Desktop Menu */

    /* Menu Button */

    nav.desktop-menu div.return {
        height: 55px;
        width: 55px;
        top: 15px;
        right: 52px;
    }

    div.content-return {
        top: 15px;
        right: 52px;
        height: 55px;
        width: 55px;
    }

    /* Header */

    header div.img2 h1 {
        top: 20vh;
    }

    /* Contact Section */

    footer#contact {
        max-height: 67vw;
    }

    div.contact-info div.line:first-child p:last-child {
        width: 13vw;
        padding-right: 110px;
    }

    div.contact-info div.line:nth-of-type(4) p:last-child {
        width: 19vw;
        padding-right: 100px;
    }

    div.contact-info div.line:last-child a:nth-of-type(1) {
        margin-right: 8vw;
        cursor: pointer;
    }

    div.contact-info div.line:last-child a {
        margin-right: 3vw;
    }

    footer form {
        top: -18vw;
    }

    footer div.map {
        top: -18vw;
    }
}