html {
    font-size: 10px;
}

/* Navigation - Mobile Menu */

nav.mobile-menu {
    height: auto;
    background-color: rgb(56, 53, 49);
}

/* Menu - Category */

nav.mobile-menu div.logo a {
    display: inline-block;
    width: 0;
    height: 0;
}

div.category-list ul {
    margin: 50px 0;
    text-align: center;
}

div.category-list ul li {
    color: rgb(205, 217, 200);
    text-shadow: 1px 1px 3px #000;
    line-height: 80px;
    height: 80px;
    margin: 20px 0;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    background-position-x: center;
    opacity: 0;
}

div.category-list ul li:nth-of-type(1) {
    background-image: url('../assets/images/sections/categories/trousers.jpg');
}

div.category-list ul li:nth-of-type(2) {
    background-image: url('../assets/images/sections/categories/skirts.jpg');
}

div.category-list ul li:nth-of-type(3) {
    background-image: url('../assets/images/sections/categories/dresses.jpg');
}

div.category-list ul li:nth-of-type(4) {
    background-image: url('../assets/images/sections/categories/suits.jpg');
}

div.category-list ul li:nth-of-type(5) {
    background-image: url('../assets/images/sections/categories/navy.jpg');
}

div.category-list ul li:nth-of-type(6) {
    background-image: url('../assets/images/sections/categories/shirts.jpg');
}

div.category-list ul li:nth-of-type(7) {
    background-image: url('../assets/images/sections/categories/blouses.jpg');
}

div.category-list ul li:nth-of-type(8) {
    background-image: url('../assets/images/sections/categories/sweaters.jpg');
}

div.category-list ul li:nth-of-type(9) {
    background-image: url('../assets/images/sections/categories/jackets.jpg');
}

div.category-list ul li:nth-of-type(10) {
    background-image: url('../assets/images/sections/categories/coates.jpg');
}

div.category-list ul li:nth-of-type(11) {
    background-image: url('../assets/images/sections/categories/ironing.jpg');
}

div.category-list ul li:nth-of-type(12) {
    background-image: url('../assets/images/sections/categories/others.jpg');
}

div.category-list ul li:nth-of-type(13) {
    background-image: url('../assets/images/sections/categories/information3.jpg');
}

div.category-list ul li a {
    position: absolute;
    display: inline-block;
    top: auto;
    left: 0;
    height: 80px;
    width: 100vw;
}

/* Sections */

section {
    height: auto;
    padding-top: 100px;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size: 5rem;
}

div.item {
    height: 60px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    padding: 5px 5vw;
}

section p,
h2 {
    color: rgb(112, 112, 122);
    font-family: 'Lato', sans-serif, Arial, Helvetica;
}

div.item p {
    width: 60vw;
    float: left;
    font-weight: 700;
}

div.item p+p {
    width: 30vw;
    text-align: right;
}

section#Informacje h2 {
    width: 90vw;
    margin: 0 5vw;
    padding: 20px 0;
    text-align: center;
    font-style: italic;
}

/* Section - Information */

section:last-child h2 {
    box-sizing: border-box;
    margin: 20px 0;
    padding: 0 5vw;
    text-align: center;
}

/* Mobile Menu - Animation */

nav.mobile-menu div.category-list ul li {
    animation: showMenuContent 1.2s ease .5s forwards;
}

@keyframes showMenuContent {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* iPhone 5/SE Support - (320px x 568px) */

@media (max-width: 359px) {
    /* Menu - Category */

    div.category-list ul li {
        background-size: 320px 80px;
        font-size: 3rem;
    }

    /* Sections */

    div.item {
        height: 60px;
        line-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.item p {
        font-size: 1.4rem;
    }

    section:last-child h2 {
        font-size: 1.6rem;
    }
}

/* Galaxy S5 - iPhone 6/7/8 Support / (360px x 640px) - (375px x 667px) */

@media (min-width: 360px) and (max-width: 375px) {
    /* Menu - Category */

    div.category-list ul li {
        height: 90px;
        line-height: 90px;
        background-size: 375px 90px;
        margin: 30px 0;
        font-size: 3.5rem;
    }

    div.category-list ul li a {
        height: 90px;
    }

    /* Sections */

    section {
        padding-top: 120px;
    }

    div.item p {
        font-size: 1.6rem;
    }

    section:last-child h2 {
        font-size: 1.8rem;
    }
}

/* Pixel 2 - iPhone 6/7/8 Plus Support / (411px x 731px) - (414px x 736px) */

@media (min-width: 376px) and (max-width: 500px) {
    /* Menu - Category */

    div.category-list ul li {
        height: 100px;
        line-height: 100px;
        background-size: 414px 100px;
        font-size: 4rem;
    }

    div.category-list ul li a {
        height: 100px;
    }

    /* Sections */

    section {
        padding-top: 140px;
    }

    h1 {
        font-size: 6rem;
    }

    div.item {
        padding: 10px 5vw;
    }

    div.item p {
        font-size: 1.8rem;
    }

    section:last-child h2 {
        font-size: 2rem;
    }
}

/* iPad Support / (768px x 1024px) */

@media (orientation: portrait) and (min-width: 500px) {

    /* Menu - Logo */

    div.logo {
        height: 280px;
    }

    /* Menu - Category */

    div.category-list ul li {
        height: 140px;
        line-height: 140px;
        background-size: 600px 140px;
        background-repeat: no-repeat;
        margin: 40px 0;
        font-size: 5rem;
    }

    div.category-list ul li a {
        height: 140px;
    }

    /* Sections */

    section {
        padding-top: 140px;
    }

    h1 {
        font-size: 8rem;
    }

    div.item {
        padding: 10px 5vw;
    }

    div.item p {
        font-size: 2.5rem;
    }

    section:last-child h2 {
        font-size: 2.5rem;
    }
}

/* iPhone 5/SE Support */

@media (orientation: landscape) and (min-width: 500px) {

    nav.mobile div.nav-menu {
        background-color: transparent;
    }

    section {
        padding-top: 60px;
    }

    div.item {
        font-size: 1.7rem;
    }

    div.category-list ul li {
        background: no-repeat;
        background-position-x: center;
        background-size: contain;
        font-size: 3rem;
    }

    section:last-child h2 {
        font-size: 1.7rem;
    }
}

/* Galaxy S5 - iPhone 6/7/8 Support */
@media (orientation: landscape) and (min-width: 640px) {

    div.item {
        font-size: 1.8rem;
    }

    div.category-list ul li {
        height: 100px;
        line-height: 100px;
        font-size: 3.5rem;
        margin: 30px 0;
    }

    div.category-list ul li a {
        height: 100px;
    }

    section:last-child h2 {
        font-size: 1.8rem;
    }
}

/* Pixel 2 - iPhone 6/7/8 Plus Support */

@media (orientation: landscape) and (min-width: 736px) {

    div.item {
        font-size: 1.9rem;
    }

    section:last-child h2 {
        font-size: 1.9rem;
    }
}